.about-us{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.about-des{
    width: 50%;
    font-weight: normal;
    font-size: large;
}
.about-us-img{
    width: 45%;
}
.about-us-head{
    font-size: 70px;

}