.about-us{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.about-des{
    width: 50%;
    font-weight: normal;
    font-size: large;
}
.about-us-img{
    width: 45%;
    animation: spin 20s linear infinite;
}
@keyframes spin{
    from{
        transform :rotate(0deg)
    }
    to{
        transform: rotate(360deg);
    }
}

.about-us-head{
    font-size: 70px;

}