.reservation-img{
    width: 300px;
}
.reservation-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
@media screen and (max-width:768px) {
    .reservation-container{
        flex-direction: column;
    }
}
.reservation-img{
    min-width: 100px;
    width: 600px;
}